.blog {
  &-title {
    color: white;

    > * {
      margin-top: 3rem;
    }
  }

  &-rss {
    svg {
      height: 1rem;
    }
  }

  &-date {
    font-size: 0.8rem;
    color: lightgray;
  }
}

.check {
  display: flex !important;
  align-items: center !important;

  img {
    height: 30px;
  }
}

.label {
  display: flex !important;
  align-items: center !important;

  img {
    height: 30px;
  }
}
