$breakpoint-xs: 767px;
$breakpoint-sm: 992px;
$breakpoint-md: 1200px;

$image-margin-xs: 2rem;
$image-margin-sm: 4rem;
$image-margin-md: 6rem;
$image-margin-lg: 10rem;

.masthead .ui.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
  }

  a {
    color: #bddcfb;
  }
}

.bg0 {
  position: relative;
}

.bg0::before {
  content: "";
  position: absolute;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/shroom-kingdom.png");
  background-size: cover;
  z-index: -1;
  left: 0;
  right: 0;

  margin: (-$image-margin-lg) 0;
  height: calc(100% + #{$image-margin-lg} - 2rem);
  @media screen and (max-width: $breakpoint-md) {
    margin: (-$image-margin-md) 0;
    height: calc(100% + #{$image-margin-md} - 2rem);
  }
  @media screen and (max-width: $breakpoint-sm) {
    margin: (-$image-margin-sm) 0;
    height: calc(100% + #{$image-margin-sm} - 2rem);
  }
  @media screen and (max-width: $breakpoint-xs) {
    margin: (-$image-margin-xs) 0;
    height: calc(100% + #{$image-margin-xs} - 2rem);
  }
}

h1.header {
  font-size: 6em;
}

section.ui.container {
  margin: 2rem 0;
}
