{% extends 'base.html' %}

{% block content %}

{% for post in section.pages %}
<section>
    {{ post.content | safe }}

    {% if post.extra.cards %}
    <div class="card-wrapper">
        {% for key, value in post.extra.cards %}
        <div class="card">
            {% if value.iconclass %}
            {% set iconclass = "icon " ~ value.iconclass -%}
            {% else %}
            {% set iconclass = "icon" -%}
            {% endif %}
            <a href="{{value.url}}" target="_blank">
                <img class="{{iconclass}}" alt="{{key}}" src="{{value.icon}}" />
                <h3>{{ key }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if post.extra.member %}
    <div class="member-wrapper">
        {% for key, value in post.extra.member %}
        <div class="member-img">
            <img class="icon" alt="{{key}}" src="{{value.img}}" />
        </div>
        <div class="member">
            <h3>{{ key }}</h3>

            <div class="member-links">
                {% if value.twitter %}
                <a class="icon" href="https://twitter.com/{{value.twitter}}" target="_blank">
                    <img class="icon" alt="Twitter {{key}}" src="images/twitter.svg" />
                </a>
                {% endif %}
                {% if value.github %}
                <a class="icon" href="https://github.com/{{value.twitter}}" target="_blank">
                    <img class="icon bright" alt="Github {{key}}" src="images/github.png" />
                </a>
                {% endif %}
            </div>
            <div>{{ value.description | safe }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endfor %}
{% endblock content %}