{% extends 'base.html' %}

{% block header %}
<div class="masthead segment bg0" style="padding: 2rem 0;">
    <div class="ui text container">
        <img class="logo" src="images/logo-with-side-text.svg" style="max-width: 70%; margin-right: 0.5rem;">
        <h1 class="ui header inverted">
            Shroom Kingdom is an upcoming play2earn video game built with web technologies running on the <a
                href="https://near.org/" target="_blank" rel="noreferrer noopener">NEAR
                Blockchain.</a></h1>
    </div>
</div>
{% endblock header %}

{% block content %}

{% for post in section.pages %}
<section class="ui container">
    {{ post.content | safe }}
</section>
{% endfor %}
{% endblock content %}